	.banner-full {
		background: linear-gradient(to right, rgba(0, 0, 0, 0.2) 0%,rgba(0, 0, 0, 0.2) 100%), url(template/imagens/home/banner.jpg) no-repeat center;
		height: 660px;
		width: 100%;
		background-size: cover;
		position: relative;
	}
	.text-float {
		position: absolute;
		left: 50%;
		width: 870px;
		margin-left: -435px;
		color: #fff;
		padding: 60px 0px;
		height: 200px;
		top: 50%;
		margin-top: -100px;
	}
	.text-float h2 {
		text-align: center;
		font-size: 70px;
		margin: 0;
		text-shadow: 2px 2px 7px #000;
		text-transform: uppercase;
	}
	.text-float p {
		font-size: 23px;
		text-align: center;
		font-weight: 300;
	}
	.text-float span {
		color: #db6532;
	}
	.empresa {
		padding: 60px 0;
		background: #F1f1f1;
	}
	.fa-5x{
		color: #db6532;
		margin: 65px 50px		
	}
	.empresa h2 {
		font-size: 30px;
		text-transform: uppercase;
		color: #db6532
	}
	.empresa p {
		font-size: 17px;
		color: #444;
		font-weight: 100;
	}
	.linha-title-2::before {
		content: "";
		display: inline-block;
		vertical-align: middle;
		margin-right: 10px;
		width: 70px;
		height: 0;
		border: 1px solid #fff;
	}
	.linha-title-2::after {
		content: "";
		display: inline-block;
		vertical-align: middle;
		margin-left: 10px;
		width: 70px;
		height: 0;
		border: 1px solid #fff;
	}
	.diferenciais {
		background: linear-gradient(to right,rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 100%),url(template/imagens/home/banner-qualidade.jpg) no-repeat center top fixed;
		margin: 0px;
		padding: 60px 0px;
		background-size: cover;
		width: 100%;
		background-position: 100%;
	}
	.linha-title-2 {
		margin-bottom: 40px;
	}
	.text-r {
		text-align: right;
		color: #fff;
	}
	.text-l {
		text-align: left;
		color: #db6532;
	}
	.diferenciais h2 {
		color: #fff;
		text-shadow: 2px 2px 7px #000;
		font-size: 30px;
		text-transform: uppercase;
	}
	.diferenciais p {
		font-size: 20px;
		text-shadow: 1px 2px #000;
		margin: 0;
		margin-bottom: 5px;
	}
	.orcamento a {
		background: #fff;
		color: #db6532;
		padding: 15px 20px;
		font-weight: 400;

	}
	.orcamento a:hover {
		transition: 0.3s all ease;
		text-decoration: none;
		background: #db6532;
		color: #fff
	}
	.orcamento {
		margin-top: 40px;
	}
	.servicos {
		padding: 60px 0;
		background: #F1f1f1;
	}
	.servicos h2 {
		font-size: 19px;
		text-transform: uppercase;
		color: #333333;
	}

	.servicos p {
		text-align: justify;
		font-size: 19px;
		font-weight: 300;
	}

	.servicos img {
		padding-top: 40px;
	}
	.servicos h3 {
		text-transform: uppercase;
		font-size: 30px;
		color: #db6532;
		text-align: center;
	}
	.orcamento-empresa {
		margin-top: 30px; 
	}
	.orcamento-empresa a:hover {
		transition: 0.3s all ease;
		text-decoration: none;
		background: #db6532;
	}
	.orcamento-empresa a {
		background: #444;
		color: #fff;
		padding: 15px 20px;
		font-weight: 400;
		text-transform: uppercase;
	}
	.iframe iframe {
		width: 100%;
		height: 300px;
	}
	@media screen and (max-width: 1920px) {
		.banner-full {
			height: 970px;
		}
	}
	@media screen and (max-width: 1600px) {
		.banner-full {
			height: 700px;
		}
	}
	@media screen and (max-width: 991px) {
		.text-float h2 {
			font-size: 60px;
		}
		.text-float p {
			font-size: 19px;
		}
		.orcamento-empresa {
			margin-bottom: 40px;
		}
		.diferenciais p {
			font-size: 16px;
		}
		.servicos img {
			margin: 0 auto;
		}
		.galeria-full img {
			margin: 0 auto;
		}
		.galeria-full h3 {
			margin-bottom: 20px;
		}
	}
	@media screen and (max-width: 880px) {
		.text-float {
			width: 750px;
			margin-left: -375px;
		}
	}
	@media screen and (max-width: 768px) {
		.text-float h2 {
			font-size: 50px;
		}
		.text-float p {
			font-size: 16px;
		} 
	}
	@media screen and (max-width: 768px) {
		.text-float {
			width: 600px;
			margin-left: -300px;
		}
		.slick-next {
			display: none!important;
		}
		.slick-prev {
			display: none!important;
		}   
	}
	@media screen and (max-width: 767px) {
		.faixa-brown h2 {
			text-align: center;
		}
		.breadcrumb {
			text-align: center;
		}
	}
	@media screen and (max-width: 685px) {
		.diferenciais p {
			font-size: 14px;
		}
	}
	@media screen and (max-width: 640px) {
		.text-float h2 {
			font-size: 36px;
		}
		.text-float p {
			font-size: 13px;
		}
	}
	@media screen and (max-width: 600px) {
		.text-float {
			width: 500px;
			margin-left: -250px;
		}
		.banner-full {
			height: 470px;
		}
	}
	@media screen and (max-width: 567px) {
		.text-r {
			text-align: center;
			color: #fff;
			width: 100%;
		}
		.text-l {
			text-align: center;
			width: 100%;
		}
	}
	@media screen and (max-width: 500px) {
		.text-float {
			width: 350px;
			margin-left: -175px;
		}
	}
	@media screen and (max-width: 453px) {
		.diferenciais h2  {
			font-size: 25px;
		}
	}
	@media screen and (max-width: 400px) {
		.banner-full {
			height: 300px;
		}
		.diferenciais h2 {
			font-size: 20px;
		}
	}
	@media screen and (max-width: 350px) {
		.text-float {
			width: 310px;
			margin-left: -155px;
		}
		.text-float p {
			font-size: 10px;
		}
		.text-float h2 {
			font-size: 25px;
		}
	}