.faixa-contato {
    background: linear-gradient(to right,rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.8) 100%),url(../imagens/contato.jpg) no-repeat center;
    background-size: cover;
    padding: 50px 0;
    text-align: center;
}
.faixa-contato h2 {
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-size: 35px;
    text-shadow: 2px 2px 7px #000;
    font-weight: 500;
    margin: 0;
}
.contato-full {
    padding: 60px 0;
}
.formulario-container {
    margin: 0 15%;
}
.conteudo form {margin: 0 -41px!important;}
.contato-pessoal {
    border-left: 5px solid #8b0000;
    background: #333;
    color: #fff;
    padding: 20px;
    position: relative;
    margin: 60px 20%;
}
.contato-pessoal:before {
    content: "";
    left: 0;
    top: 7%;
    position: absolute;
    display: inline-block;
    vertical-align: middle;
    height: 120px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #8b0000;
    border-width: 7px;
}
.contato-pessoal p {
    margin: 10px 0;
    font-size: 18px;
    font-weight: 300;
    text-shadow: 2px 2px 7px #000;
}
.contato-pessoal strong {
    font-weight: bold;
    color: #fff;
    margin-right: 5px;
}
.inframe iframe {
    width: 100%;
    height: 350px;
}