/* Menu
** ----------------------------------------------- */
.btn-menu-responsivo {
	display: none;
}

.btn-menu {
	font-weight: bold;
	font-size: 16px;
	background-color: #FFF;
	border: 1px solid #CCC;
	border-radius: 2px;
	padding: 10px 30px;
	margin: 10px 0;
	cursor: pointer;
	display: inline-block;
}

@media (max-width: 960px) {
	/* Topo */
	.btn-menu-responsivo {
		display: block;
	}
	.topo .menu-box {
		display: none;
	}
	.informacoes-box {
		width: 33.3333%;
	}
	.img-right{
		float: none;
	}	
	.menu-lateral-conteudo a {
		color: #333
	}
	.menu-lateral-conteudo a:hover {
		color: #fff;
		background: #df3c35
	}		
}

@media (max-width: 860px) {
	.conteudo,
	.texto,
	.sidebar,
	.contato,
	.contato-dados,
	.contato-formulario {
		display: block;
	}
	.sidebar {
		width: auto;
		padding-left: 0;
		margin-top: 15px;
	}
	.footer .footer-coluna {
		width: 100%;
	}
	.footer-box {
		text-align: center;
	}
	.footer ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
}

.barra-footer {
	display: none;
}
.barra-footer a{
	color: #333
}
@media (max-width: 640px) {
	.informacoes-box {
		width: 50%;
	}
	.barra-footer {
		padding: 15px;
		position: fixed;
		font-size: 22px;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 10;
		background-color: rgba(255,255,255,0.9);
		box-shadow: 0 -2px rgba(0,0,0,0.1);
		display: flex;
		justify-content: space-around;
	}
}

@media (max-width: 520px) {
	.topo .logo {
		width: 100px;
	}
	.btn-menu {
		font-size: 14px;
		padding: 5px 15px;
	}
	.img-destaque-thumb div {
		width: 50%;
	}
	.abas .aba {
		display: block;
		margin: 3px 0;
	}
	.informacoes-box {
		width: 100%;
	}
	.creditos-box {
		flex-direction: column;
	}
	.creditos-link a {
		margin: 5px;
	}
}