/*Fonts do Site*/
/* latin */
@font-face {
	font-family: 'Bai Jamjuree';
	font-style: normal;
	font-weight: 200;
	font-display: swap;
	src: local('Bai Jamjuree ExtraLight'), local('BaiJamjuree-ExtraLight'), url(https://fonts.gstatic.com/s/baijamjuree/v3/LDIqapSCOBt_aeQQ7ftydoa0kePelJo0.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
	font-family: 'Bai Jamjuree';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: local('Bai Jamjuree Light'), local('BaiJamjuree-Light'), url(https://fonts.gstatic.com/s/baijamjuree/v3/LDIqapSCOBt_aeQQ7ftydoa09eDelJo0.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
	font-family: 'Bai Jamjuree';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local('Bai Jamjuree Regular'), local('BaiJamjuree-Regular'), url(https://fonts.gstatic.com/s/baijamjuree/v3/LDI1apSCOBt_aeQQ7ftydoa8XsLL.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
	font-family: 'Bai Jamjuree';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: local('Bai Jamjuree Medium'), local('BaiJamjuree-Medium'), url(https://fonts.gstatic.com/s/baijamjuree/v3/LDIqapSCOBt_aeQQ7ftydoa0reHelJo0.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
	font-family: 'Bai Jamjuree';
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: local('Bai Jamjuree SemiBold'), local('BaiJamjuree-SemiBold'), url(https://fonts.gstatic.com/s/baijamjuree/v3/LDIqapSCOBt_aeQQ7ftydoa0gebelJo0.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
	font-family: 'Bai Jamjuree';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: local('Bai Jamjuree Bold'), local('BaiJamjuree-Bold'), url(https://fonts.gstatic.com/s/baijamjuree/v3/LDIqapSCOBt_aeQQ7ftydoa05efelJo0.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* Default
** ----------------------------------------------- */
body {
	color: #333;
	background: #FFF;
	font-family: 'Bai Jamjuree', sans-serif!important;
	font-size: 13px;
	margin: 0;
	padding: 0;
	line-height: 1.3;
}
.base {
	margin-left: auto;
	margin-right: auto;
	max-width: 1120px;
}
.base-content {
	padding-left: 15px;
	padding-right: 15px;
}
img {
	box-sizing: border-box;
	max-width: 100%;
	max-height: 100%;
	height: auto;
}
.img-right {
	float: right;
	margin: 0 0 10px 10px;
	box-shadow: 2px 2px 7px #333

}
.face{
	margin-top: 30px
}
.links-marcas a{
	text-align: center;
	color: #ddbc3f;
	padding: 15px
}
.links-marcas a:hover{
	text-align: center;
	color: #786008;
	padding: 15px
}

.links-marcas img{
	box-shadow: 2px 2px 7px #333
}
.img-rightt {
	float: right;
	max-width: 200px;	
	margin: 0 0 10px 10px;
}	
a {
	color: inherit;
}
.align-center {
	text-align: center;
}
.overflow {
	overflow: hidden;
}

/* Topo
** ----------------------------------------------- */
.faixa-cinza {
	background: #f8f8f8;
	padding: 5px 0;
	border-bottom: 1px solid rgba(68, 68, 68, 0.17);
}
.faixa-cinza p {
	margin: 0;
}
.faixa-cinza p a {
	color: #000;
}
.faixa-cinza p a:hover {
	color: #3e6bb4;
	text-decoration: none;
}
.icon-faixa a {
	margin-right: 40px;
	color: #000;
	font-size: 15px;
	text-transform: uppercase;
}
.icon-faixa i {
	margin-right: -15px!important;
}
.topo {
	background-color: #fff;
	border-bottom: 1px solid #33333321;
}
.topo .topo-box {
	display: table;
	table-layout: fixed;
	width: 100%;
}
.topo .logo,
.topo .menu {
	display: table-cell;
	vertical-align: middle;
}
.topo .logo {
	width: 250px;
	padding: 15px;
}
.topo .menu {
	text-align: right;
}
.topo .menu-box {
	text-align: left;
	display: inline-block;
}
.menu-box p a {
	background: #ddbc3f;
	border-radius: 7px;
	color: #fff !important;
	text-shadow: 2px 2px 7px #000;
	padding: 8px 21px !important;
}
.menu-box p a:hover {
	background: #8b1d27;
	transition: 0.5s all;
}

/* Menu
** ----------------------------------------------- */
.topo .menu li {
	display: inline-block;
}
.topo .menu li:hover > a, .topo .menu .ativo {
	color: #FFF;
	background-color: #ddbc3f;
	font-weight: 600;
	text-shadow: 2px 2px 10px #000;
}
.topo .menu li a {
	display: block;
	padding: 8px 15px;
	text-decoration: none;
	color: #000;
	font-weight: 500;
}
.topo .menu ul {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	margin: 0;
	padding: 0;
}
.topo .menu ul ul {
	display: none;
	position: absolute;
	right: 0;
	top: 100%;
	z-index: 10;
	width: 700px;
	background-color: #FFF;
	border-radius: 2px;
	box-shadow: 0 2px 3px rgba(0,0,0,0.3);
}
.topo .menu ul ul li {
	width: 32%;
}
.topo .menu ul ul li a {
	display: block;
	padding: 8px 15px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;	
}
.topo .menu ul ul li a:hover {
	color: #FFF;
	background-color: #ddbc3f;
	transition: 0.3s all;
}
.topo .menu li {
	position: relative;
	margin-right: 5px;
}
.topo .menu ul li:hover > ul {
	display: flex;
}

/*Sub Menu*/
ul.sub-menu li {
	width: 100%!important;
}
ul.sub-menu {
	width: 170px!important;
}
ul.sub-menu {
	left: 0!important;
}
ul.sub-menu li {
	margin: 0!important;
}
/*css sub-menu-2*/
ul.sub-menu-2 {
	left: 170px!important;
	top: 0!important;
}
ul.sub-menu-2 li {
	width: 100%!important;
}
ul.sub-menu-2 {
	width: 170px!important;
}
ul.sub-menu-2 li a {
	font-size: 13px;
}
/* Menu Fixo Lateral
** ----------------------------------------------- */
.menu-lateral {
	display: none;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 100;
}
.menu-lateral-conteudo {
	position: fixed;
	left: -315px;
	top: 0;
	bottom: 0;
	overflow-y: auto;
	background-color: #FFF;
	border-right: 1px solid #CCC;
	box-shadow: 2px 0 3px rgba(0,0,0,0.1);
	width: 300px;
	z-index: 2;
	transition: all 0.3s ease 0s;
}
.menu-lateral-visivel .menu-lateral-conteudo {
	left: 0;
}
.menu-lateral-conteudo ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.menu-lateral-conteudo li {
	border-top: 1px solid #EEE;
}
.menu-lateral-conteudo ul ul {
	margin-left: 15px;
}
.menu-lateral-conteudo a {
	display: block;
	text-decoration: none;
	padding: 10px 15px;
}
.menu-lateral-conteudo a:hover {
	color: #FFF;
	background-color: #72B5DA;
}
.menu-lateral-overlay {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.3);
	z-index: 1;
}
.videos{
	width: 420px !important;
	height: 320px
}
/* Banner
** ----------------------------------------------- */
.banner-box {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 150px 0;
	font-size: 18px;
	color: #FFF;
	text-shadow: 1px 1px #000;
}
.banner-box-1 {
	background-image: url('../imagens/banner/1.jpg');
}
.banner-box-2 {
	background-image: url('../imagens/banner/2.jpg');
}
.banner-box-3 {
	background-image: url('../imagens/banner/3.jpg');
}

/* Conteudo
** ----------------------------------------------- */
.conteudo {
	display: table;
	table-layout: fixed;
	width: 100%;
	padding: 15px 0;
}
.conteudo-palavras{
	margin-top: 20px
}
.conteudo-palavras h2{
	color: #ddbc3f;
	font-weight: 600;
	font-size: 24px
}
.conteudo-palavras h3{
	color:  #ddbc3f
}
.texto {
	display: table-cell;
	vertical-align: top;
	font-size: 14px;
}
h1 {
	margin-top: 0;
	background-color: #F7F9FB;
	color: #1DA1F2;
	padding: 15px;
	font-size: 20px;
	border-radius: 2px;
}
.img-destaque {
	margin-top: 15px;
}
.img-destaque img,
.img-destaque-thumb img {
	display: block;
	width: 100%;
	border-radius: 2px;
	box-shadow: 2px 2px 7px #333
}
.img-destaque-thumb {
	margin-top: 5px;
	display: flex;
	flex-wrap: wrap;
}
.img-destaque-thumb div {
	width: 25%;
}
.img-destaque-thumb a {
	display: block;
	margin: 5px;
}
.informacoes-container {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	text-align: center;
}
.informacoes-box {
	width: 25%;
}
.informacoes-link h4:hover {
	color: #0eab51;
}
.informacoes-link:hover {
	text-decoration: none !important

}
.informacoes-link {
	margin: 15px;
	display: block;
	text-decoration: none;
}
.informacoes-link img {
	border: 1px solid #CCC;
	width: 100%;
	display: block;
}
.informacoes-link h4{
	font-size: 15px;
	color: #333
}
.compartilhar {
	margin-top: 15px;
}
.erro404 {
	font-size: 2em;
	text-align: center;
}
/* Breadcrumb
** ----------------------------------------------- */
.breadcrumb .breadcrumb-separador:before {
	content: '\f101';
	font-family: 'FontAwesome';
	margin: 0 5px;
}

/* Sidebar
** ----------------------------------------------- */
.sidebar {
	display: table-cell;
	width: 300px;
	padding-left: 20px;
	vertical-align: top;
}
.sidebar h3 {
	padding: 10px 15px;
	text-align: center;
	margin: 0;
	color: #ddbc3f;
	border-bottom: 1px solid #CCC;
}
.sidebar ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.sidebar-box {
	border: 1px solid #CCC;
	border-radius: 2px;
}
.sidebar-box + .sidebar-box {
	margin-top: 15px;
}
.sidebar li a {
	display: block;
	text-decoration: none;
	padding: 10px 15px;
	font-size: 13px;
	color: #333
}
.sidebar li a:hover,
.sidebar .ativo {
	color: #FFF;
	background-color: #ddbc3f;
}
.sidebar-conteudo {
	padding: 15px;
}

/* SEO
** ----------------------------------------------- */
/* Mais Visitados */
.mais-visitados {
	margin-top: 15px;
	border: 1px solid #CCC;
	border-radius: 2px;
}
.mais-visitados h3 {
	margin: 0;
	color: #ddbc3f;
	font-weight: 400;
	padding: 5px 10px;
	border-bottom: 1px solid #CCC;
}
.mais-visitados a{
	color: #333;
	font-size: 13px;
	padding: 0 3px
}
.mais-visitados-box {
	padding: 10px;
}
.mais-visitados span {
	display: inline-block;
	margin: 4px;
}
/* Direitos */
.texto-direitos-autorais {
	margin-top: 15px;
	font-size: 12px;
}

/* Formulário
** ----------------------------------------------- */
.formulario-box {
	margin-top: 15px;
}
textarea {
	resize: vertical;
	height: 100px;
}
.btn {
	position: relative;
	color: inherit;
	cursor: pointer;
	font-family: inherit;
	line-height: inherit;
	padding: 10px 15px;
	text-shadow: 1px 1px rgba(255,255,255,0.3);
	background: linear-gradient(#FFF,#FCFCFC);
	border-color: #CFCFCF;
	border-radius: 2px;
	box-shadow: 0 0 0 1px rgba(0,0,0,0.15) inset, 0px -3px rgba(0,0,0,0.1) inset, 0px 2px 3px rgba(0, 0, 0, 0.07);
	border: 0;
	max-width: 100%;
	display: inline-block;
	text-align: center;
	box-sizing: border-box;
	text-decoration: none;
}
.btn:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.2) inset, 0 0 5px 1px rgba(0,0,0,0.15) inset;
}
[type="text"],
[type="email"],
[type="file"],
select,
textarea {
	color: inherit;
	font-family: inherit;
	line-height: inherit;
	width: 100%;
	box-sizing: border-box;
	padding: 10px;
	border: 1px solid #DDD;
	border-radius: 2px;
	background-color: #FAFBFC;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.1) inset;
}
[type="text"]:focus,
[type="email"]:focus,
[type="file"]:focus,
select:focus,
textarea:focus {
	border-color: #5CD7FF;
	background-color: #FFF;
	box-shadow: 0px 0px 3px rgba(0, 165, 255, 0.31), 1px 1px 2px rgba(0,0,0,0.1) inset;
}
.campo-invalido {
	border-color: #f00;
	background: #fffafa;
}

/* Mensagens */
.msg-box {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	padding: 15px;
	text-align: center;
	z-index: 10;
}
.msg {
	display: inline-block;
	padding: 15px;
	border: 1px solid;
	border-radius: 2px;
	box-shadow: 0 2px 3px rgba(0,0,0,0.2);
	background-color: #FFF;
}
.msg-erro {
	color: #C7142E;
	background-color: #FFF5F6;
}
.msg-sucesso {
	color: #14C717;
	background-color: #F8FFF7;
}

/* Enviando */
.enviando {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	padding: 10px;
	background: rgba(255,255,255,0.5);
}
.enviando:before {
	content: '';
	background: url('../imagens/loading.svg') no-repeat center center;
	background-size: contain;
	position: absolute;
	margin: 3px;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}

/* Página de contato
** ----------------------------------------------- */
.contato {
	display: table;
	table-layout: fixed;
	width: 100%;
}
.contato-formulario,
.contato-dados {
	display: table-cell;
	vertical-align: top;
}
.featured-widget {
	padding: 30px;
	background-color: #fff;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}
.featured-widget h3 {
	margin-top: 0;
	color: #444444;
	font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
	font-weight: bold;
	letter-spacing: -.05em;    
}
.widget-title {
	margin-bottom: 30px;
	position: relative;
}
.jumbotron-overlap img {
	box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.2);
}
.post-image {
	max-width: 100%;
	height: auto;
}
.page-box__title {
	font-size: 27px;
	margin-top: 24px;
	margin-bottom: 20px;
	color: #444444;
	font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
	font-weight: bold;
	letter-spacing: -.05em;    
}
.page-box__title a {
	color: #444444;
}
.page p{
	font-size: 14px;
	line-height: 1.6;
	color: #4e4e4e;
}
.read-more {
	position: relative;
	font-weight: bold;
	text-transform: uppercase;
}
.read-more:after {
	font-family: "FontAwesome";
	font-size: 10px;
	position: absolute;
	right: -11px;
	top: calc(50% - 9px);
}
.margin-bottom-60 {
	margin-bottom: 60px !important;
}
.widget-title.lined {
	border-bottom: 1px solid rgba(0, 0, 0, 0.065);
	margin-bottom: 30px;
	color: #444444;
	font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 30px;
	letter-spacing: -.05em;    
}
.widget-title.lined > span {
	background: #fff;
	padding-right: 20px;
}
/* Mapa do Site
** ----------------------------------------------- */
.mapa-do-site li {
	margin: 10px;
	list-style:	none
}
.mapa-do-site li a{
	color: 	#333
}
/* Slider
** ----------------------------------------------- */
.slider img {
	border: 1px solid #CCC;
	width: 100%;
	display: block;
}
.slider .slider-box {
	display: block;
	margin: 15px;
	text-decoration: none;
}
.slider h4 {
	text-align: center;
}
.slider .slick-prev {
	left: -5px;
}
.slider .slick-next {
	right: -5px;
}
.slider .slick-prev,
.slider .slick-next {
	top: 40%;
}

/* Abas
** ----------------------------------------------- */
.abas .aba {
	cursor: pointer;
	display: inline-block;
	padding: 9px;
	background-color: #F7F9FB;
	border: 1px solid #CCC;
	border-radius: 2px;
}
.abas .aba.ativo {
	background-color: #FFF;
	border-color: #CCC;
}
.abas-conteudo {
	border-radius: 2px;
	margin-top: 5px;
	padding: 5px;
}
.abas-conteudo > div {
	display: none;
}
.abas-conteudo > div:first-child {
	display: block;
}
.abas-conteudo li{
	list-style: none;
	color: #666;
	font-size: 12px
}
.regioes {
	margin-top: 15px;
	border: 1px solid #CCC;
	border-radius: 2px;
}
.regioes a{
	color: #333
}
.regioes a:hover{
	color: #960000
}
.regioes h3 {
	margin: 0;
	padding: 5px;
	border-bottom: 1px solid #CCC;
	color: #ddbc3f;
	font-weight: 400
}

/* Accordion
** ----------------------------------------------- */
.accordion-titulo {
	cursor: pointer;
	background-color: #F7F9FB;
	border: 1px solid #CCC;
	border-radius: 2px;
	padding: 15px;
	margin-top: 10px;
}
.accordion-conteudo {
	display: none;
	background-color: #FFF;
	border: 1px solid #CCC;
	border-radius: 2px;
	margin-top: 5px;
	padding: 15px;
}

/* Footer
** ----------------------------------------------- */
.footer {
	background-color: #000;
}
.footer-box {
	display: flex;
	flex-wrap: wrap;
}
.footer .footer-coluna {
	width: 33%;
}
.footer a {
	color: #f8cf0b;
	margin-right: 5px;
}
.footer a:hover {
	color: #fff;
}
.footer p {
	color: #fff;
	font-size: 14px;
}
.reforco {
	margin-left: 40px;
}
/* Menu */
.menu-footer ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.menu-footer li {
	margin-top: 10px;
}
.menu-footer a {
	text-decoration: none;
}
.menu-footer a:hover {
	text-decoration: underline;
}

/* Redes Sociais */
.redes-sociais {
	font-size: 18px;
}
.redes-sociais a {
	display: inline-block;
	text-decoration: none;
	width: 30px;
	height: 30px;
	margin: 3px;
	line-height: 30px;
	border-radius: 50%;
	text-align: center;
	background-color: #FFF;
	border: 1px solid;
}
.cor-facebook {
	color: #4267B2;
}
.cor-twitter {
	color: #1DA1F2;
}
.cor-google-plus {
	color: #DB4437;
}
.cor-youtube {
	color: #FF0000;
}
.cor-linkedin {
	color: #0274B3;
}
.cor-pinterest {
	color: #BD081B;
}
.cor-vk {
	color: #5181B8;
}
/* Créditos */
.creditos {
	padding: 15px 0;
}
.creditos-box {
	padding: 15px;
	background-color: rgba(0,0,0,0.05);
	border-radius: 2px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.creditos .creditos-logo {
	width: 80px;
}
.creditos .creditos-link {
	display: inline-flex;
}
.creditos .creditos-link a {
	margin-left: 10px;
}
.creditos-link {
	margin-left: 55px!important;
}
/*CSS HOME*/
.conteudo-banner {
	background: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0%,rgba(0, 0, 0, 0.5) 100%), url(template/imagens/conteudo-banner.jpg) no-repeat center;
	background-size: cover;
	padding: 230px 0;
}
.conteudo-banner h2 {
	text-transform: uppercase;
	color: #ffd700;
	font-size: 40px;
	font-weight: 700;
	text-shadow: 2px 2px 7px #000;
	margin: 0;
}
.conteudo-banner p {
	color: #fff;
	text-shadow: 2px 2px 7px #000;
	font-size: 25px;
}
.conteudo-apresentacao {
	padding: 60px 0;
	text-align: center;
	background: #f6f6f6;
}
.box-verde {
	border: 10px solid #fff;
	padding: 10px;
	background: #debb4f;
	box-shadow: 2px 2px 7px #000;
}
.conteudo-apresentacao h3 {
	text-transform: uppercase;
	color: #fff;
	font-size: 13px;
	font-weight: 600;
	text-shadow: 2px 2px 7px #000;
}
.conteudo-apresentacao p {
	color: #fff;
}
.limpeza-ecologica {
	background: linear-gradient(to right,rgba(255,255,255,0.1) 0%,rgba(0,0,0,0.7) 100%),url(template/imagens/limpeza-ecologica.jpg) no-repeat center;
	background-size: cover;
	padding: 110px 0;
	text-align: center;
	background-position: 100% 40%;
}
.limpeza-ecologica h2 {
	font-size: 40px;
	color: #fff;
	text-shadow: 2px 2px 7px #000;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-weight: 600;
}
.css-a a {
	border: 2px solid #fff;
	color: #fff;
	padding: 10px 30px;
	font-weight: 600;
	font-size: 13px;
	text-transform: uppercase;
	text-shadow: 2px 2px 7px #000;
}
.css-a {
	margin-top: 25px;
}
.css-a a:hover {
	color: #fff;
	text-decoration: none;
}
.obras-home {
	padding: 40px 0;
	text-align: center;
	background: #f6f6f6;
}
.obras-home h2 {
	text-transform: uppercase;
	font-size: 35px;
	font-weight: 600;
	margin-bottom: 30px;
}
.obras-home h2 span {
	color: #f8cf0b;
}
.obras-home img {
	box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.62);
}
.obras-home a {border: 2px solid #fff;
	color: #fff;padding: 10px 30px;
	font-weight: 600;
	font-size: 13px;
	text-transform: uppercase;
	text-shadow: 2px 2px 7px #000;
	background: #f8cf0b;
}
.obras-home a:hover {
	color: #fff;
	text-decoration: none;
}
.obras-home h3 {
	color: #305686;
	font-weight: 600;
	font-size: 20px;
	text-transform: uppercase;
}
.iframe iframe {
	width: 100%;
	height: 350px;
}
.iframe-ctt iframe {
	width: 100%;
	height: 250px;
	border: none;
	box-shadow: 2px 2px 7px #333
}

.obras-empresa-1 {
	text-align: center;
}
.obras-empresa {
	padding: 40px 0;
	text-align: center;
	background: #f6f6f6;
}
.obras-empresa p {
	font-size: 16px;
	margin-bottom: 30px;
}
.obras-empresa li{
	font-size: 14px;
	font-weight: 400;
	list-style: none

}
.obras-empresa h3 {
	color: #305686;
	font-weight: 600;
	font-size: 20px;
	text-transform: uppercase;
}
.obras-empresa-1 h3 {
	color: #305686;
	font-weight: 600;
	font-size: 20px;
	text-transform: uppercase;
}
/*---------------------------------------------------*/
/*CSS Quem Somos*/
.quems-somos-full {
	padding: 10px 0 30px 0;
	background: #f6f6f6;
}
.quems-somos-full h2 {
	text-transform: uppercase;
	font-size: 25px;
	color: #a0801f;
	font-weight: 600;
	padding-top: 20px;
}
.quems-somos-full h3 {
	text-transform: uppercase;
	font-size: 20px;
	color: #a0801f;
	font-weight: 600;
}
.quems-somos-full p {
	text-align: justify;
	font-size: 16px;
}

.quems-somos-ful {
	padding: 10px 0 30px 0;
}
.quems-somos-ful li {
	font-size: 16px;
	font-weight: 600;
	padding-top: 20px;
}
.quems-somos-ful h3 {
	text-transform: uppercase;
	font-size: 20px;
	color: #a0801f;
	font-weight: 600;
}
.quems-somos-ful p {
	text-align: justify;
	font-size: 16px;
}
.espacamento{
	margin-top: 10px
}
.banner-empresa {
	background: url(template/imagens/faixa-palavras.png) no-repeat center center;
	background-size: cover;
	background-color: #2A2F35;
	border-bottom: solid 4px #66A6D8;
	padding: 40px;
}
.banner-empresa h2 {
	margin: 0;
	color: #Fff;
	text-transform: uppercase;
	text-shadow: 2px 2px 7px #000;
	font-size: 30px;
}
.banner-empresa h3 {
	margin: 0;
	color: #Fff;
	text-transform: uppercase;
	text-shadow: 2px 2px 7px #000;
	font-size: 25px;
}
.breadcrumb {
	padding: 0px 12px;
	color: #d0e6eb;;
	margin-bottom: 0!important;
	margin-top: 7px;
}
.breadcrumb a {
	color: #fff;
	font-weight: 400;
	font-size: 12px;
}
.prin h3{
	text-align: center;
	margin-bottom: 20px;
	margin-top: 0 !important
}
.prin p{
	font-size: 16px;
	text-align: left
}
/*---------------------------------------------------*/
/*CSS Serviços*/

.servicos {
	padding: 30px 0;
	background: #fff;
}
.servicos h2 {
	font-size: 19px;
	text-transform: uppercase;
	color: #f8cf0b;

}
.servicos p {
	text-align: center;
	font-size: 19px;
	font-weight: 300;
}

.servicos img {
	padding-top: 40px;
}
.servicos h3 {
	text-transform: uppercase;
	font-size: 30px;
	color: #e0be4e;
	text-align: left;
}
.servicos h4 {
	text-transform: uppercase;
	font-size: 35px;
	font-weight: 600;
	margin-bottom: 30px;
	color: #333;
	text-align: center;	
}
.servicos h4 span {
	color: #f8cf0b;
}
/*---------------------------------------------------*/
/*Css Nossas Obras*/
.obras-full{
	text-align: center;
	padding: 40px
}
.obras-full img{
	box-shadow: 2px 2px 7px #333;
	margin:0 auto;
}
.obras-full h4{
	padding: 20px 0
}
/*---------------------------------------------------*/
/*CSS Parceiros*/
.parceiros img{
	margin: 15px 0;
	padding: 10px
}
/*---------------------------------------------------*/



.botao-fixo {
	float: right;
	width: 40%;
	position: fixed;
	top: 0;
	right: 0;
}
.botao-fixo .whatsapp{
	float: left;
	width: 100%;
	background: #7abf51;
	padding: 9px 0 0 14px;
}
.botao-fixo .telefone{
	float: left;
	width: 100%;
	background: #ddbc3f;
	padding: 9px 0 0 14px;
}
.botao-fixo .email{
	float: left;
	width: 100%;
	background: #d93025;
	padding: 9px 0 0 14px;
}
.botao-fixo a {
	color: #fff;	
}
.botao-fixo a:hover {
	text-decoration: none;
}
.botao-fixo i {
	font-size: 28px;
}



.galeria-empresa {
	float: left;
	width: 100%;
}
.galeria-empresa .galeria {
	float: left;
	width: 100%;
	margin-bottom: 50px;
}